.heading{
    text-align:center;
    color:blue;
    font-style: oblique;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-color:green;
    border-radius: 4px;
    box-sizing: border-box;
}
.input1[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 120px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-color:green;
    border-radius: 4px;
    box-sizing: border-box;
}
#taskbtn{
    width: 15%;
    padding: 12px 20px;
    margin: 8px 550px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-color:green;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:blue;
    color:cornsilk;
    font-size:16px;
    font-family:sans-serif;  
    display:none;
}
#taskbtn:hover{
    background-color:lightblue;
}

  .dd {
    max-width: 100%;
    top: 88px;
    margin: 0 auto;
    display: block;
  }
  
  
  ol.kanban.To-do {
    border-top: 5px solid #FFB300;
  }
  
  ol.kanban.progress {
    border-top: 5px solid #29B6F6;
  }
  
  ol.kanban.Done {
    border-top: 5px solid #8BC34A;
  }
  
  ol.kanban {
    border-top: 5px solid #78909C;
    width: 20%;
    height: auto;
    margin: 4%;
    max-width: 250px;
    min-width: 120px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    flex-direction: column;
    min-height: 200px;
    z-index: 1;
    position: relative;
    background: #fff;
    padding: 1em;
    border-radius: 2px;
  }
  
  .dd-item {
    display: block;
    position: relative;
    list-style: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    min-height: 48px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    min-height: 120px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  .title {
    align-self: flex-end;
    color: honeydew;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;

    color: #333333;
    text-shadow: 1px 1px 0px #FFFFFF, 1px 0px 0px rgba(0,0,0,0.15);
    color:white;
  }
  
  
  .dd {
    position: relative;
    display: block;
    list-style: none;
  }
  
  
  
  .dd-item {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
  }
  
  .dd-item:hover {
    background: #fff;
  }
  
  
  
  
  /* 
  .dd {
    max-width: 100%;
    top: 88px;
    margin: 0 auto;
    display: block;
  }  
  
  
  
  
  
  
  
  ol.kanban {
    border-top: 5px solid #78909C;
    width: 20%;
    height: auto;
    margin: 1%;
    max-width: 250px;
    min-width: 120px;
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    flex-direction: column;
    min-height: 200px;
    z-index: 1;
    position: relative;
    background: #fff;
    padding: 1em;
    border-radius: 2px;
  }
  
  .dd-item {
    display: block;
    position: relative;
    list-style: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    min-height: 48px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    min-height: 120px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  .title {
    align-self: flex-end;
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 24px;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
  }
  
  .text {
    color: grey;
    border-top: 1px solid font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
  }
  
  
  .dd {
    position: relative;
    display: block;
    list-style: none;
  }
  
  .dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .dd-item {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
   */